.header-cls {
    .active-link {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .logo {
        color: #cb1452;
    font-weight: bold;
    }
    .nav-link {
        // color: #ec3f79 !important;
        font-weight: 400;
    }
    
}
.black{
    background-color: #5d5b5d !important;
}