<!--Footer-->
<footer class="page-footer center-on-small-only" style="background-color:rgba(58, 54, 54, 0.8);">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-md-3 offset-md-1">
        <h5 class="title">ABOUT MATERIAL DESIGN</h5>
        <p>Material Design (codenamed Quantum Paper) is a design language developed by Google. </p>

        <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework
          - Bootstrap.</p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-2 offset-md-1">
        <h5 class="title">First column</h5>
        <ul>
          <li>
            <a data-target="#!">Link 1</a>
          </li>
          <li>
            <a data-target="#!">Link 2</a>
          </li>
          <li>
            <a data-target="#!">Link 3</a>
          </li>
          <li>
            <a data-target="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-md-2">
        <h5 class="title">Second column</h5>
        <ul>
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="hidden-md-up">

      <!--Fourth column-->
      <div class="col-md-2">
        <h5 class="title">Third column</h5>
        <ul>
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <div class="call-to-action">
    <h4>Oliva Lightnig Training Center</h4>
    <ul>
      <li>
        <!-- <h5>Get our UI KIT for free</h5> -->
      </li>
      <li>
        <a target="_blank" href="javascript:void(0)" class="btn btn-danger waves-effect waves-light">Sign up!</a>
      </li>
      <li>
        <a target="_blank" href="javascript:void(0)" class="btn btn-default waves-effect waves-light">Login</a>
      </li>
    </ul>
  </div>
  <!--/.Call to action-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="https://mdbootstrap.com"> Oliva Lightnig </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
