<!--Footer-->
<footer class="page-footer center-on-small-only">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-md-3 offset-md-1">
        <h5 class="title">Oliva Training</h5>
        <p class="hover-app-color">
          Oliva - Online global training platform connecting individuals with the best trainers around the globe. With the diverse
          range of courses, Training Materials, Resume formats and On Job Support, we have it all covered to get into IT
          Career. Instructor Led Training - Made easy.</p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-2 offset-md-1">
        <h5 class="title">Company</h5>
        <ul>
          <li>
            <a class="hover-app-color" [routerLinkActive]="['active-link']" routerLink="/home">Home</a>
          </li>
          <!-- <li>
            <a class="hover-app-color" href="#!">About Us</a>
          </li> -->
          <li>
            <a class="hover-app-color" routerLink="/courses">Courses</a>
          </li>
          <li>
            <a class="hover-app-color" routerLink="/registration">Register</a>
          </li>
          <li>
            <a class="hover-app-color" routerLink="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-md-2">
        <h5 class="title">Trending Courses</h5>
        <ul>
          <li>
            <a class="hover-app-color" (click)="gotoCourseDetails('Salesforce Lightning Training')">Sales Force Lightning</a>
          </li>
          <li>
            <a class="hover-app-color" (click)="gotoCourseDetails('Data Science')">Big Data Analytics</a>
          </li>
          <li>
            <a class="hover-app-color" (click)="gotoCourseDetails('Web Technologies')">Web Technologies</a>
          </li>
          <li>
            <a class="hover-app-color" (click)="gotoCourseDetails('Node JS')">Node.Js Training</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="hidden-md-up">

      <!--Fourth column-->
      <div class="col-md-2">
        <h5 class="title">Contact Info</h5>
        <ul>
          <li>
            <a href="#!">
              <i class="fa fa-map-marker fa-icons" aria-hidden="true"></i>
              Near to Hitech City MMTS station,
              <br/> Besides Ankur Hospital,
              <br/> Plot No 63/A, 7th Phase,KPHB,
              <br/> Kukatpally, Hyderabad- 500 072
            </a>
          </li>
          <li>
            <a href="#!">
              <i class="fa fa-envelope-o fa-icons" aria-hidden="true"></i>
              oliva.trininigs@gmail.com</a>
          </li>
          <li>
            <a href="#!">
              <i class="fa fa-phone fa-icons" aria-hidden="true"></i>
              INDIA : +91 9966221541</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <!-- <div class="call-to-action">
    <h4 class="hover-app-color hover-courser">Oliva Lightning Training Center</h4>
    <ul>
      <li>
      </li>
      <li>
        <a target="_blank" href="javascript:void(0)" class="btn btn-dark-green waves-effect waves-light">Sign Up!</a>
      </li>
      <li>
        <a target="_blank" href="javascript:void(0)" class="btn btn-deep-orange waves-effect waves-light">Login</a>
      </li>
    </ul>
  </div> -->
  <!--/.Call to action-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="javascript:void()"> Oliva Lightning </a>
    </div>

  </div>
  <!--/.Copyright-->

</footer>