<div class="container">
  <!--Section: Features v.3-->
  <section class="section feature-box">

    <!--Section heading-->
    <h1 class="section-heading pt-4 text-center">Why is it so great?</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

    <!--Grid row-->
    <div class="row features-small pt-2">

      <!--Grid column-->
      <div class="col-lg-5 mb-r center-on-small-only">
        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7">

        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fa fa-bank blue-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Safety</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
              deleniti hic.
            </p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fa fa-code blue-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Technology</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
              deleniti hic.
            </p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fa fa-money blue-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Finance</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
              deleniti hic.
            </p>
          </div>
        </div>
        <!--Grid row-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Features v.3-->
</div>
