<div class="container-fuild">
  <div class="page-title-bg-sec">
    <div class="bg-text">
      <h3>{{courseName || 'Not Found'}}</h3>
    </div>
  </div>
  <div class="container margin-top-30">
    <div *ngIf="!courseName">
      <h4 class="app-color text-center">Course not found</h4>
    </div>
    <div *ngIf="courseName" class="row">
      <div class="col-md-8">
        <h4 class="app-color">{{selectedCourse.name}} </h4>
        <div class="course-duration">
          <div class="row">
            <div class="col-4 right-border">
              <b>
                <i class="fa fa-clock-o"> </i>Duration : </b>{{selectedCourse.durationDetails.time}}</div>
            <div class="col-4 right-border">
              <b>
                <i class="fa fa-desktop"></i>Lab Sessions : </b>{{selectedCourse.durationDetails.labSession}}</div>
            <div class="col-4">
              <b>
                <i class="fa fa-smile-o"></i> Learners : </b>{{selectedCourse.durationDetails.learners}}</div>
          </div>
        </div>
        <div class="course-desc">
          {{selectedCourse.description}}
        </div>
      </div>
      <div class="col-md-4 batch-time-info">
        <div class="row">
          <div class="batch-text col-8">
            <div>Select your Batch</div>
            <div class="under-line"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row table-sec">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <!--Table-->
            <table class="table table-hover table-responsive-md table-striped table-fixed table-sm">
              <!--Table head-->
              <thead>
                <tr class="th-header">
                  <th>Track</th>
                  <th>Course Duration</th>
                  <th>Hours</th>
                  <th>Training Mode</th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
                <tr *ngFor="let track of selectedCourse.trackData">
                  <td>{{track.type}}</td>
                  <td>{{track.duration}}</td>
                  <td>{{track.hours}}</td>
                  <td>{{track.triningMode}}</td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
