$app-color:#ec3f79;
$white-color:#fff;
.page-title-bg-sec {
    background-image: url(assets/images/course.jpg);
    width: 100%;
    background-size: 100%;
    .bg-text {
        background-color: rgba(0, 0, 0, 0.49) !important;
        width: 100%;
        height: 261px;
        h3 {
            margin: auto;
            text-align: center;
            padding-top: 10%;
            color: #fff;
        }
    }
}

.course-duration {
    background: #f3f3f3;
    padding: 7px;
    margin: 15px 0;
    .right-border {
        .fa {
            margin-right: 5px;
        }
        border-right: 1px solid #868080;
    }
}

.course-desc {
    text-indent: 50px;
}

.batch-time-info {
    padding: 10px;
    background: #f3f3f3;
    min-height: 200px;
    .batch-text {
        .under-line {
            border: 1px solid #ec3f79;
            width: 25%;
            margin-top: 7px;
        }
    }
}

.table-sec {
    margin-top: 10px;
    .table-fixed {
        table-layout: fixed;
        overflow: hidden;
    }
    .th-header {
        background: $app-color;
        color: $white-color;
    }
}

.syllabus-text {
    margin-top: 25px;
}

.course-syllabus {
    background: #f3f3f3;
    margin-top: 30px;
    max-height: 700px;
    overflow: auto;
    padding-top: 10px;
}

.course-content-stepper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 0px;
    .step-content {
        display: block;
        margin-top: 0;
        margin-left: 50px;
        padding: 0 15px;
        .topics-ul {
            color: #5e5ebb;
            padding-left: 0px;
            li {
                line-height: 2;
            }
            .topic-header {
                color: #f3b33e;
                font-weight: bold;
                margin-left: -16px;
            }
        }
    }
}

.course-content-stepper li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.course-content-stepper li a {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 24px;
    font-size: 14px;
    text-align: center;
    color: #ec3f79;
    .circle {
        display: inline-block;
        color: #fff;
        border-radius: 50%;
        background: #ec3f79;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        margin-right: 8px;
    }
    .label {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}

.course-content-stepper li:not(:last-child):after {
    content: " ";
    position: absolute;
    width: 1px;
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px);
    left: 35px;
    top: 55px;
    background-color: rgba(0, 0, 0, .1);
}