$app-main-color:#ec3f79;
$white-color:#fff;
;
.demo-requset-view {
    background-position: -18% 44%;
    background-image: url(assets/images/demo2.jpg); // background-attachment: fixed;
    .demo-container {
        background-color: rgba(0, 0, 0, 0.45) !important;
        padding-top: 10%;
        height: 400px;
        width: 100%;
        .demo-text {
            color: $white-color;
        }
    }
}