<div class="demo-requset-view margin-top-30">
  <div class="demo-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 demo-text text-right">
          <h2 class="line-height2">
            <b>REQUEST A FREE DEMO</b>
          </h2>
          <h5 class="line-height2">
            <b>INDIA</b> +91 8885777505</h5>
          <h5 class="line-height2">
            <b>EMAIL</b> oliva.trininigs@gmail.com</h5>
        </div>
        <div class="col-md-6 right-sec">
          <form>
            <div class="row">
              <div class="col">
                <div class="md-form">
                  <i class="fa fa-user prefix white-text"></i>
                  <input type="text" id="form3" class="form-control" mdbActive>
                  <label for="form3">Your name</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form">
                  <i class="fa fa-envelope prefix white-text"></i>
                  <input type="text" id="form2" class="form-control" mdbActive>
                  <label for="form2">Your email</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <i class="fa fa-phone prefix white-text"></i>
                  <input type="text" id="form2" class="form-control" mdbActive>
                  <label for="form2">Your Mobile</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <i class="fa fa-pencil prefix white-text"></i>
                  <input type="text" id="form2" class="form-control" mdbActive>
                  <label for="form2">Your Message</label>
                </div>
              </div>
            </div>
            <div class="row btn-sec">
              <button class="btn submit-btn btn-rounded waves-light" mdbRippleRadius>Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>