<div class="container">
  <h1 class="section-heading pt-4 text-center title-text">Trending Courses
  </h1>
  <div class="row">
    <div class="col-md-3">
      <!-- Card -->
      <div class="card card-image mb-3 course-bg" style="background-image: url('assets/images/Lightning_over.jpg');">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text">
              <i class="fa fa-pie-chart course-title"></i> Salesforce Lightning (Dev-601)</h5>
            <p class="course-desc app-text">Salesforce Lightning Training helps to Learn how to use the Programming Lightning component (DEV601) user interface
              efficiently for Salesforce Lightning Experience. We walk you through each section and function of this new
              user interface to help you make the transit</p>
            <a class="btn btn-pink waves-light" (click)="gotoCourseDetails('Salesforce Lightning Training')" mdbRippleRadius>
              <i class="fa fa-clone left"></i> View More</a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-3">
      <!-- Card -->
      <div class="card mb-3 course-bg" style="background-image: url('assets/images/Lightning_over.jpg');">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
          <div>
            <h5 class="orange-text">
              <i class="fa fa-desktop course-title"></i> Salesforce classic and Salesforce integration</h5>
            <p class="course-desc app-text">Data Science With Python Training helps to learn about the Various data formats and how they can be changed,
              Data reliability, efficiency and affordability, Deriving information from data, Designing modules, Installation
              of Anaconda Python Distribution, introduction to the field of data science, Python functionality and features.
              With this course you will learn to work with Python packages such as PROC SQL and various statistical procedures,
              Understanding and neglecting the unwanted strategies, Understanding the concepts of calculus in this approach.
              Enroll & get certified now.</p>
            <a class="btn btn-deep-orange waves-light" (click)="gotoCourseDetails('Salesforce classic and Salesforce integration')" mdbRippleRadius>
              <i class="fa fa-clone left"></i> View More</a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-3">
      <!-- Card -->
      <div class="card mb-3 course-bg" style="background-image: url('assets/images/data-science.jpg');">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
          <div>
            <h5 class="orange-text">
              <i class="fa fa-desktop course-title"></i> Data Science</h5>
            <p class="course-desc app-text">Data Science With Python Training helps to learn about the Various data formats and how they can be changed,
              Data reliability, efficiency and affordability, Deriving information from data, Designing modules, Installation
              of Anaconda Python Distribution, introduction to the field of data science, Python functionality and features.
              With this course you will learn to work with Python packages such as PROC SQL and various statistical procedures,
              Understanding and neglecting the unwanted strategies, Understanding the concepts of calculus in this approach.
              Enroll & get certified now.</p>
            <a class="btn btn-deep-orange waves-light" (click)="gotoCourseDetails('Data Science')" mdbRippleRadius>
              <i class="fa fa-clone left"></i> View More</a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-3">
      <!-- Card -->
      <div class="card mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="blue-text">
              <i class="fa fa-pie-chart course-title"></i> Web Technologies</h5>
            <p class="course-desc app-text">Web Development tutorial for beginners covering HTML, Ajax, CSS, XML, JavaScript, HTML5, jQuery, AngularJS, ASP.NET,
              ASP.NET MVC, Apache HTTP Server etc. This online tutorial will help you learn all the basic and advanced concepts
              of Web Programming languages with a very simple and step by step approach. The simple programs and examples
              taught in each chapter will help you learn all the principles and concepts very quickly and easily.</p>

            <a class="btn btn-blue waves-light" (click)="gotoCourseDetails('Web Technologies')" mdbRippleRadius>
              <i class="fa fa-clone left"></i> View More</a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-3">
      <!-- Card -->
      <div class="card card-image mb-3" style="background-image: url('assets/images/Lightning_over.jpg');">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
          <div>
            <h5 class="green-text course-title">
              <i class="fa fa-desktop"></i> Node JS</h5>
            <p class="course-desc app-text">Node.js Training makes you an expert in using Node.js to execute scripts, Representational State Transfer, rest
              and reading POST data, Connecting to RDBMS and NoSQL databases and Creating a package.. etc and become certified
              at end of the Node.js Course.</p>
            <a class="btn btn-success waves-light" (click)="gotoCourseDetails('Node JS')" mdbRippleRadius>
              <i class="fa fa-clone left"></i> View More</a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>
  </div>
</div>