<div class="container-fuild">
  <div class="page-title-bg-sec">
    <div class="bg-text">
      <h3>Contact Us</h3>
    </div>
  </div>
  <div class="container margin-top-30">

    <section class="contact-section">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="row">
              <div class="col-lg-8">
                <div class="card-body form">
                  <!--Header-->
                  <div class="formHeader mb-1 pt-3">
                    <h3>
                      <i class="fa fa-envelope"></i> Write to us:</h3>
                  </div>

                  <br>

                  <form>
                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-md-6">
                        <div class="md-form">
                          <div class="md-form">
                            <input mdbActive type="text" id="form-contact-name" class="form-control">
                            <label for="form-contact-name" class="">Your name</label>
                          </div>
                        </div>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6">
                        <div class="md-form">
                          <div class="md-form">
                            <input mdbActive type="text" id="form-contact-email" class="form-control">
                            <label for="form-contact-email" class="">Your email</label>
                          </div>
                        </div>
                      </div>
                      <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-md-6">
                        <div class="md-form">
                          <div class="md-form">
                            <input mdbActive type="text" id="form-contact-phone" class="form-control">
                            <label for="form-contact-phone" class="">Your phone</label>
                          </div>
                        </div>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6">
                        <div class="md-form">
                          <div class="md-form">
                            <input mdbActive type="text" id="form-contact-company" class="form-control">
                            <label for="form-contact-company" class="">Your company</label>
                          </div>
                        </div>
                      </div>
                      <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-md-12">

                        <div class="md-form">
                          <textarea mdbActive type="text" id="form-contact-message" class="md-textarea"></textarea>
                          <label for="form-contact-message">Your message</label>
                          <a class="btn-floating btn-lg blue waves-light" mdbRippleRadius>
                            <i class="fa fa-send-o"></i>
                          </a>
                        </div>

                      </div>
                      <!--Grid column-->

                    </div>
                    <!--Grid row-->
                  </form>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="card-body contact-bg text-center">
                  <div class="container">
                    <div class="mb-5">
                      <h3>Contact information</h3>
                    </div>

                    <ul class="contact-icons">
                      <li>
                        <p>Jagadeesh</p>
                        <p>Certified Developer</p>
                      </li>
                      <li>
                        <i class="fa fa-map-marker"></i>
                        <p>
                          Near to Hitech City MMTS station,
                          <br/> Besides Ankur Hospital,
                          <br/> Plot No 63/A, 7th Phase,KPHB,
                          <br/> Kukatpally, Hyderabad- 500 072</p>
                      </li>

                      <li>
                        <i class="fa fa-phone"></i>
                        <p>+91 9966221541</p>
                      </li>

                      <li>
                        <i class="fa fa-envelope"></i>
                        <p>oliva.trininigs@gmail.com</p>
                      </li>
                    </ul>

                    <hr class="hr-light mb-4 mt-4">

                    <ul class="inline-ul text-center list-unstyled">
                      <li>
                        <a class="icons-sm tw-ic"  target="_blank" href="https://twitter.com/TrainingOliva">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <!-- <li>
                        <a class="icons-sm li-ic" target="_blank" href="https://www.facebook.com/oliva.trainings.9">
                          <i class="fa fa-linkedin"> </i>
                        </a>
                      </li> -->
                      <li>
                        <a class="icons-sm ins-ic" target="_blank" href="https://www.facebook.com/oliva.trainings.9">
                          <i class="fa fa-facebook-square"> </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>