.carousel-caption {
    bottom: inherit;
}

.h3-responsive {
    font-weight: 600;
    margin-bottom: 47px;
}
.view {
    background: url("../../assets/images/home_bg.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}